* {
    font-family: 'Space Grotesk', sans-serif;
}

html {
    scroll-behavior: smooth;    
}


.navbar {
    background: linear-gradient(90deg, rgba(2,0,36,1) 25%, rgba(121,9,103,1) 48%, rgba(0,212,255,1) 100%);
}
.navbar a {
    color:white;
}

section {
    padding-top: 40px;
    height: 100vh;   
}
/* Section 1*/
#section1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("https://i.imgur.com/ZZgjt8I.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}


#s1p {
    font-size: 1.5rem;
    color:white;
    margin-left: 20px;
}


#s1text {
    color: white;
    font-size: 4rem;
}

/* Section 2*/
#section2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("https://michaeldwhitt.com/wp-content/uploads/2021/07/spacebkgrnd2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

#lines{
    position: absolute;
    margin-left: 5%;
    margin-top: 20%;

}


#dot1 {
height: 25px;
width: 25px;
background-color: #fff;
border-radius: 50%;
margin-top: 7.5%;
}

#dot2 {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -5.7%;
}

#dot3 {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -5.7%;
    margin-left: 2.5%;
}

#dot4 {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 16.5% ;
    margin-left: -3.2% ;
}

#line1 {
height: 15px;
width: 300px;
background-color: #fff;
transform: rotate(-25deg);
border-radius: 25%;
}

#line2 {
height: 15px;
width: 300px;
background-color: #fff;
transform: rotate(45deg);
border-radius: 25%;
margin-left: -3.2%;
margin-top: 6%;
}
#linesdiv1{
    margin-top: -12.5%;
    margin-left: 3%;
}

#linesimg1 {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}

#linesdiv2{
    margin-top: 18%;
    margin-left: 0%;
}


#linesimgspan {
    display: block;
    margin-top: 5%;
    color: white;
}